
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1beta1
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-kataconfiguration-openshift-io-v1-kataconfig
  failurePolicy: Fail
  name: vkataconfig.kb.io
  rules:
  - apiGroups:
    - kataconfiguration.openshift.io
    apiVersions:
    - v1
    operations:
    - CREATE
    resources:
    - kataconfigs
  sideEffects: None
